<h2>Calendar</h2>
<p>You find here the daily challenges for the Advent of Data Science 2024.</p>
<div *ngFor="let challenge of this.challenges">
    <a routerLink="/challenge" [queryParams]="{ day: challenge.day_id }">
        <div class="challenge">
            <div class="challenge__title">
                <span class="challenge__title--text">
                    <span>{{ challenge.title }}</span>
                    <span class="challenge__tags">
                        <span
                            class="challenge__tag"
                            *ngFor="let tag of challenge.tags">
                            <{{ tag }}>
                        </span>
                    </span>
                </span>
                <span>
                    {{ challenge.open_at | date: 'dd/MM/yyyy' }}
                </span>
            </div>
        </div>
    </a>
</div>
