a {
  text-decoration: none;
  color: #000000;
}

.challenge {
  background-color: #ffffff;
  padding: 1rem;
  border-bottom: 1px dashed #000000;

  &:hover {
    cursor: pointer;
    background-color: #f1f1f1;
  }

  .challenge__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    span:first-child {
        color: #e76f51;
    }

    .challenge__title--text{
        display: flex;
        flex-direction: row;
    }

  .challenge__tags {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0 0 0 1rem;

      .challenge__tag {
        padding: 0 0.25rem;
        color: #2a9d8f;
      }
    }
  }
}
