a {
  text-decoration: none;
  color: var(--text-color);

  &:hover, &.active {
    color: inherit;
    border-bottom: 2px solid var(--text-color);
  }
}

.account {
  &__avatar {
    width: 32px;
    aspect-ratio: 1;
    border-radius: 50%;

    &:hover {
      opacity: 0.8;
    }
  }
}
