.leaderboard {
  list-style: none;
  padding: 1rem 0 0;
  margin: 0;

  &__entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #ccc;

    &:nth-child(-n+3) {
      color: var(--accent-3-color);
    }

    &:hover {
      background-color: var(--hover-background-color);
    }

    &-avatar {
      width: 2rem;
      aspect-ratio: 1;
      border-radius: 50%;
      margin-right: 0.5rem;

      &:hover {
        opacity: 0.8;
      }
    }

    &-name {
      margin: 0;
    }

    &-link {
      display: flex;
      align-items: center;
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__total {
    margin: 2rem 0;
  }
}
