<h2>Leaderboard</h2>
<ul class="leaderboard">
    <li class="leaderboard__entry" *ngFor="let user of leaderboard">
        <a
            href="{{ user.profile_url }}"
            target="_blank"
            class="leaderboard__entry-link"
            ><span class="leaderboard__entry-name">{{ user.username }}</span></a
        >
        <span class="leaderboard__entry-scores">
            <span class="leaderboard__entry-score"> {{ user.score }}x⭐</span>
            <span class="leaderboard__entry-coffees"> {{ user.mate }}x🧉 </span>
        </span>
    </li>
</ul>
<div class="leaderboard__total">Total: {{ leaderboard.length }}</div>
