.navbar {
  height: 2rem;
  z-index: 100;
  margin: 0;
  padding: 1rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #e5e5e5;


  .navbar__logo {
    font-size: 1.5rem;
    font-weight: bold;

    a {
      text-decoration: none;
      color: inherit;

      .logo--first {
        color: var(--secondary-color);
      }

      .logo--second {
        color: var(--accent-3-color);
      }
    }
  }

  .navbar__links {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
      color: var(--text-color);
      margin: 0 1rem;

      &:hover {
        color: inherit;
        border-bottom: 2px solid var(--text-color);
      }

      &.active {
        color: var(--primary-color);
        border-bottom: 2px solid var(--primary-color);
      }
    }
  }

  .navbar__settings {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      height: 100%;
      background: none;
      border-style: none;
      cursor: pointer;
      outline: none;

      img {
        width: 1.5rem;
        margin: 0 1rem;
        aspect-ratio: 1;
        border-radius: 50%;

        &:hover {
          scale: 1.05;
        }
      }
    }

    app-account {
      margin: 0 0 0 1rem;
    }
  }
}
