<h2>Home</h2>

<p>
    Welcome to the Advent of Data Science challenge! This is a daily challenge
    to test your data science skills learned in your Data Science studies
    <span class="highlight">&#64;ZHAW DS.</span>
</p>
<br />
<h3>Next Steps</h3>
<ol>
    <li>
        Read the
        <a routerLink="/about" fragment="rules-and-scoring-system"
            ><span class="highlight">rules and scoring system</span>
        </a>
    </li>
    <li>
        <a routerLink="/login">
            <span class="highlight">Login</span>
        </a>
        with your private GitHub account
    </li>
    <li>
        Start the
        <a routerLink="/challenges"
            ><span class="highlight">challenges!</span>
        </a>
    </li>
    <li>
        Compete and measure yourself against your fellow students with the
        <a routerLink="/leaderboard"
            ><span class="highlight">leaderboard!</span>
        </a>
    </li>
</ol>
