.nav-bar-wrapper {
  border-bottom: 1px solid #e5e5e5;
  padding: 0 10%;
  z-index: 100;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  .nav-bar__logo {
    font-size: 1.5rem;
    font-weight: bold;

    a {
      text-decoration: none;
      color: inherit;

      .logo--first {
        color: var(--secondary-color);
      }
      .logo--second {
        color: var(--accent-3-color);
      }
    }
  }

  .nav-bar__links {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
      color: var(--text-color);
      margin: 0 1rem;

      &:hover {
        color: inherit;
        border-bottom: 2px solid var(--text-color);
      }

      &.active {
        color: var(--primary-color);
        border-bottom: 2px solid var(--primary-color);
      }
    }
  }

  .nav-bar__theme {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      background: none;
      border: none;
      cursor: pointer;
      margin: 0 1rem;
      outline: none;
      width: 2rem;

      img:hover {
          scale: 1.1;
      }
    }
  }

  .nav-bar__login {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
      color: var(--text-color);

      &:hover, &.active {
        color: inherit;
        border-bottom: 2px solid var(--text-color);
      }
    }
  }
}
