<div class="nav-bar-wrapper">
    <nav class="nav-bar">
        <div class="nav-bar__logo">
            <a routerLink="/home" routerLinkActive="active">
                <span class="logo--first">Ao</span>
                <span class="logo--second">DS</span>
            </a>
        </div>
        <div class="nav-bar__links">
            <a routerLink="/home" routerLinkActive="active">Home</a>
            <a routerLink="/calendar" routerLinkActive="active">Calendar</a>
            <a routerLink="/leaderboard" routerLinkActive="active"
                >Leaderboard</a
            >
            <a routerLink="/about" routerLinkActive="active">About</a>
        </div>
        <div class="nav-bar__theme">
            <button (click)="toggleTheme()">
                <img
                    [ngSrc]="themeIcon"
                    alt="light theme"
                    class="theme--light"
                    height="18"
                    width="18" />
            </button>
        </div>
        <div class="nav-bar__login">
            <a routerLink="/login" routerLinkActive="active">Login</a>
        </div>
    </nav>
</div>
